.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}
.userListImg{
  width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right:10px;
}
.userListEdit {
  border: none;
  border-radius: 6px;
  padding: 6px 16px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.userListEdit:hover {
  background-color: #36a06a;
}


.userListEdit:hover {
  background-color: #36a06a;
}


.userListDelete{
    color: red;
    cursor: pointer;
}